
.logo {
    font-size: 32px;
    font-weight: normal;
    color: #ffffff;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 16px;
}

nav a:hover {
    color: #cccccc;
}

.main {
    padding: 1px 50px;
    background: #000000;
    text-align: center;
}

.main h1 {
    text-align: left;
    font-size: 128px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 700;
    @include tablet{
      font-size: 92px;
    }
    @include mobile{
      font-size: 56px;
    }
}

.main h2 {
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;

}

.main p {
    text-align: left;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.8;
}

.tagline {
    text-align: right;
    font-size: 128px;
    color: #ffffff;
    font-weight: 600;
    @include tablet{
      font-size: 92px;
    }
    @include mobile{
      font-size: 56px;
    }
}

.main__container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
  justify-content: space-between;
  @include tablet{
    flex-direction: column;
  }
}

.main__content {
  margin-bottom: 30px;
  @include tablet{
    align-self: flex-start;
  }
}
