.works {
  width: 100%;
  margin: 0 auto;
  padding: 80px 50px;
  font-family: "Helvetica Neue", sans-serif;
  background: #000;

  &-title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 60px;
    text-align: center;
  }

  &-image {
    width: 100%;
    height: 350px;
    background-image: url('../img/svg/Блок1.jpg');
    background-size: cover;
    margin-bottom: 80px;
    border-radius: 15px;
  }

  &-list {
    display: flex;
    flex-direction: column;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    cursor: pointer;

    h3 {
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .arrow {
      font-size: 28px;
      opacity: 0.75;
      transition: 0.2s;
    }

    &:hover .arrow {
      opacity: 1;
      transform: translateX(5px);
    }
  }
}
