.services {
  padding: 100px 50px;
  background-color: #000000;

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    @include tablet{
      grid-template-columns: repeat(2, 1fr);
    }
    @include small-tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-header {
    text-align: center;
    margin-bottom: 80px;
  }

  &-header h2 {
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 500;
  }

  &-header h1 {
    text-align: left;
    font-size: 48px;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.3;
  }

  &-image {
    width: 100%;
    height: 350px;
    background-image: url('../img/svg/Блок.jpg');
    background-size: cover;
    margin-bottom: 80px;
    border-radius: 15px;
  }

  &-card{
    display: flex;
    gap: 30px;
    align-items: flex-start;
  }

  &-icon {
    width: 100%;
    height: 250px;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-weight: bold;
    color: white;
    font-size: 12px;
    text-align: center;
  }

  &-content h3{
    margin-top: 25px;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 600;
  }

  &-content p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.7;
    margin-bottom: 10px;
  }

  &-features {
    list-style: none;
    margin-top: 20px;
  }

  &-features li {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
    padding-left: 20px;
    position: relative;
  }

  &-features li:before {
    content: "•";
    color: #2c3e50;
    position: absolute;
    left: 0;
    font-weight: bold;
  }
}
