<section class="about">
    <div class="container">
      <!-- Слайдер -->
      <!-- .mySlider — ваш класс для JS, .swiper — обязательный класс Swiper -->
      <div class="mySlider swiper">
        <!-- .swiper-wrapper — обязательная обёртка для слайдов -->
        <div class="swiper-wrapper">
          <!-- .swiper-slide — один слайд (можно сколько угодно) -->
          <div class="swiper-slide about-container">
                    <div class="about-header">
            <h2>About Us</h2>
            <h1>
                CRAFTING TIMELESS<br>
                <span>FURNITURE AND</span>
                <span>INTERIOR DESIGNS</span>
            </h1>

            <div class="feature-grid">

                <p>
                  At <span class="company-name">Furniture.ID</span> we believe that furniture
                  is more than just functional - it's an expression of
                  style, comfort, and personality. Our mission is to
                  create custom, high-quality pieces that transform
                  your space into something uniquely yours.
              </p>

                <div class="feature__items">
                  <div class="feature">
                      <div class="feature-content">
                          <h3 class="feature-content-quality">Quality Craftsmanship</h3>
                      </div>
                  </div>
                  <div class="feature">
                      <div class="feature-content">
                          <h3 class="feature-content-sustainability">Sustainability</h3>
                      </div>
                  </div>
                  <div class="feature">
                      <div class="feature-content">
                          <h3 class="feature-content-innovation">Innovation &amp; Creativity</h3>
                      </div>
                  </div>
                  <div class="feature">
                      <div class="feature-content">
                          <h3 class="feature-content-customer">Customer-Centered</h3>
                      </div>
                  </div>
                </div>

                <div class="feature">
                    <div class="feature-content">
                      <h3 class="feature-content-arrow">LEARN MORE</h3>
                      <a href="#" class="feature-link">
                        <svg width="146" height="146" viewBox="0 0 146 146" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="73" cy="73" r="72.5" stroke="white"/>
                        <path d="M100.707 73.7071C101.098 73.3166 101.098 72.6834 100.707 72.2929L94.3431 65.9289C93.9526 65.5384 93.3195 65.5384 92.9289 65.9289C92.5384 66.3195 92.5384 66.9526 92.9289 67.3431L98.5858 73L92.9289 78.6569C92.5384 79.0474 92.5384 79.6805 92.9289 80.0711C93.3195 80.4616 93.9526 80.4616 94.3431 80.0711L100.707 73.7071ZM47 74H100V72H47V74Z" fill="white"/>
                        </svg>
                      </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-image">
        </div>
          </div>
          <div class="swiper-slide about-container">
                    <div class="about-header">
            <h2>About Us</h2>
            <h1>
                UNIQUE DESIGNS<br>
                <span>SATISFIED CLIENTS</span>
                <span>SUPPORT</span>
            </h1>

            <div class="feature-grid">

                <p>
                  We offer unique projects that are tailored to each individual.
                  We've been in business for about five years and have many satisfied and repeat customers.
                  We also have support that will always help you with design.
              </p>

                <div class="feature__items">
                  <div class="feature">
                      <div class="feature-content">
                          <h3 class="feature-content-quality">Designs</h3>
                      </div>
                  </div>
                  <div class="feature">
                      <div class="feature-content">
                          <h3 class="feature-content-sustainability">Clients</h3>
                      </div>
                  </div>
                  <div class="feature">
                      <div class="feature-content">
                          <h3 class="feature-content-customer">Support</h3>
                      </div>
                  </div>
                </div>

                <div class="feature">
                    <div class="feature-content">
                      <h3 class="feature-content-arrow">LEARN MORE</h3>
                      <a href="#" class="feature-link">
                        <svg width="146" height="146" viewBox="0 0 146 146" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="73" cy="73" r="72.5" stroke="white"/>
                        <path d="M100.707 73.7071C101.098 73.3166 101.098 72.6834 100.707 72.2929L94.3431 65.9289C93.9526 65.5384 93.3195 65.5384 92.9289 65.9289C92.5384 66.3195 92.5384 66.9526 92.9289 67.3431L98.5858 73L92.9289 78.6569C92.5384 79.0474 92.5384 79.6805 92.9289 80.0711C93.3195 80.4616 93.9526 80.4616 94.3431 80.0711L100.707 73.7071ZM47 74H100V72H47V74Z" fill="white"/>
                        </svg>
                      </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-image1">
        <img src="../img/svg/Картинка.jpg" alt="Это моя первая картинка">
        </div>
        </div>
          </div>

      </div>

    </div>

    <div class="container">
      <div class="stat">
        <div class="stat-item">
            <div class="stat-number">500+</div>
            <div class="stat-label">Custom Projects Delivered</div>
        </div>
        <div class="stat-item">
            <div class="stat-number">100%</div>
            <div class="stat-label">Eco-friendly materials in all our custom furniture production.</div>
        </div>
        <div class="stat-item">
            <div class="stat-number">98%</div>
            <div class="stat-label">Client Satisfaction Rate</div>
        </div>
    </div>
    </div>
</section>
