// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/hero";
@import "./components/about-us";
@import "./components/empty";
@import "./components/our services";
@import "./components/our work";
// тестовые стили, удалите их
